# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

appsettings.local.json

obj/
bin/
**/obj/
**/bin/

# NuGet Packages
*.nupkg
*.snupkg
*.nuspec
packages/
**/packages/
*.psmdcp
*.user
*.suo
*.vs/
*.cache/
*.nuget/
*.lock.json
*.deps.json
*.runtimeconfig.json
*.symbols.nupkg
*.package.map
*.package.config
*.package.json
*.package-lock.json
*.global.json
*.project.assets.json
*.project.nuget.cache
*.nuget.props
*.nuget.targets
*.nuget.dgspec.json
*.nuget.packages
*.nuget/
packages.config